
#myDIV {
  display: grid;
  grid-template-columns: auto max-content;


}
#myDIV div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: right;
}

#myDIV iframe {
  width: 100%
}

.item1 {
  grid-row: 1 / span 3;
  height: 100vh;
  width: 100%;
  min-width: 100vmin;
}

.vid, img {
  height: 50vh;
  width: 100vw;
  max-width: 72vh;
  z-index: 1;
}

body {
  overflow-y: hidden;
  margin: 0;
  height: calc(100vh - env(safe-area-inset-bottom));
}

.snow {
  position: fixed;
  top: -83px;
  height: 215pX;
  backface-visibility: visible;
  z-index: 1;
}
